<!doctype html>
<html>
  <head>
    <title>Configuration Helper</title>
    <style>
      body.lightsoff{
        background-color: black;
        color:white;
      }
      .clickable{
        color: #00E;
        cursor:pointer;
      }
      .clickable:hover{
        text-decoration: underline;
      }
      .case{
        color: #00FF00;
      }
      .sandbox{
        color: #FF00FF;
      }
      .lightson .value,.value{
        color: #0000FF;
      }
      .lightsoff .value{
        color: #FFFF00;
      }
      .error {
        color: #8B0000;
      }
      .lightsoff .success{
        color: #00FFFF;
      }
      .lightson .success{
        color: #00008B;
      }
      .invalid{
        color: #C0C0C0;
        cursor: text;
        /* text-decoration: line-through;*/
      }
    </style>
  </head>
  <body ng-app="myApp" ng-controller="PublishCtrl" ng-class="{true:'lightson',false:'lightsoff'}[lights]">
    <ul ng-init="tab=1; tabs=['Settings','Getting Setup to code', 'Publishing','Sandbox Config','Svc Diagnostics','Deploy Diagnostics'];" data-role="tab menu">
      <li ng-repeat="ts in tabs"><span ng-click="$parent.tab=($index+1)" ng-class="{true:'clickable',false:''}[$parent.tab!=$index+1]">{{ts}}</span></li>
    </ul>
      <div data-role="settings" ng-show="tab ==1">
        <div>
          <label>Machine</label>
          <input ng-model="globals.sandbox" placeholder="MachineName"/>
        </div>
        <label>CodeBase</label>
        <input ng-model="codebase" placeholder="Test Release 13.1.0102.00"/>
        <label>customer</label>
        <input ng-model="customer" placeholder="Homestreet"/>
        <label>case</label> <input type="checkbox" title="standard?" ng-model="isStandard" />
        <input ng-model="globals.mfCase" placeholder="76700" />
        <div>
          <label>relativePathToWebSiteBase</label>
          <input ng-model="machineBasePath" placeholder="c$\MFWebContent\Cases\" /> <span class="clickable" ng-click="machineBasePath='c$\\MFWebContent\\Cases\\';">Use MFWebContent</span> <span class="clickable" ng-click="machineBasePath='C$\\Microsoft .Net 3.5 Framework\\Mortgageflex products\\Common Framework\\Host\\';">Use local</span>
        </div>
          <label>dev</label>
          <input ng-model="dev" placeholder="bdimperio" />
          <label>Lights on?</label>
          <input ng-checked="lights" ng-model="lights" type="checkbox" />
      </div>
      <div data-role="setup" ng-show="tab ==2">
        <div> <h2>IIS setup</h2>
            <ul><li><span class="value">Site Bindings</span> should have a binding for <span class="value">net.tcp</span> bound to <span class="value">808:*</span></li></ul>
        </div>
        <div> <h2>estimation</h2>
            <ol>
              <li>Determine files you suspect to change and add them to the case comments.</li>
              <li>check if standard, {{customer}} standard, and/or {{customer}} have changes you will have to merge.</li>
              <li>add estimate and reassign to QAB for estimation
            </ol>
        </div>
        <div> <h2>Source Retrieval</h2>
          <ol><li>Pull code from <span class="value"><a href="file://\\mortgageflex.com\root\sourcecode\dotNETsource\">\\mortgageflex.com\root\sourcecode\dotNETsource\</a></span> ({{codebase}})</li>
            <li>If case type is <span class="value">problem in standard</span> check all 3 locations for any existing check outs, check out the files you plan to modify for the case<ol>
              <li>Do coding against standard FIRST</li>
            <li>After unit testing approved for standard, retro-fit the code into the customer's code base.</li>  
            </ol></li>
            <li ng-class="{true:'',false:'invalid'}[!!customer]">Pull in {{customer}}'s changes and file additions from "<span class="value">Standard Code Base</span>" from VSS</li>
            <li ng-class="{true:'',false:'invalid'}[!!customer]">Pull in {{customer}}'s current branch on top of that from VSS</li>
            <li>have code in custom unit tested
          </ol>
        </div>
      </div>
      <div data-role="publishing" ng-show="tab == 3">
        <div> <h2>visual studio publish dialogs</h2> On first deploy (it should be saved after that)
         <ul>
          <li ng-class="{true:'value',false:'invalid'}[(globals.sandbox && validcase())==true]">\\<span class="sandbox">{{displaySandbox()}}</span>\{{machineBasePath}}<span class="case">{{displayCase()}}</span>\LoanQuestNETDeploy\</li>
          <li> Set it to <span class="value">From a Web site</span></li>
          <li ng-class="{true:'value',false:'invalid'}[(globals.sandbox && validcase())==true]">http://<span class="sandbox">{{displaySandbox()}}</span>.mortgageflex.com/<span class="case">{{displayCase()}}</span>/LoanQuestNETDeploy/</li>
        </ul> </div>
        <div><h2> file system - deploy service(s)</h2>
          Copy <span class="value">C:\Microsoft .Net 3.5 Framework\Mortgageflex products\Common Framework\Host\Mortgageflex.Services.Host.LoanQuest</span>
          to <span ng-class="{true:'value',false:'invalid'}[(globals.sandbox && validcase())==true]">\\<span class="sandbox">{{displaySandbox()}}</span>\{{machineBasePath}}<span class="case">{{displayCase()}}</span>\Mortgageflex.Services.Host.LoanQuest</span>
        </div>
        <div> <h2>Rdp Session</h2>
          On each deploy
          <ol>
            <li ng-class="{true:'',false:'invalid'}[!!globals.sandbox]">rdp to <span class="sandbox">{{displaySandbox()}}</span></li>
            <li>run <span class="value">C:\Program Files (x86)\MortgageFlex Systems\MortgageFlex LoanQuest Configuration\bin\MortgageFlex.LoanQuest.Configuration.exe</span></li>
            <li>Usually <span class="value">Origination</span></li>
            <li>Select <span class="value">Deployment Server Configurations</span> (ensure only <span class="value">3-tier</span> is checked)</li>
            <li>Click <span class="value">Browse</span> -> <span ng-class="{true:'value',false:'invalid'}[(globals.sandbox && validcase())==true]">C:\MFWebContent\Cases\<span class="case">{{displayCase()}}</span>\LoanQuestNETDeploy</span></li>
            <li> Verify update location: <a href="{{caseUrl()}}/LoanQuestNETDeploy/Mortgageflex.LoanQuest.application"><span ng-class="{true:'value',false:'invalid'}[(globals.sandbox && validcase())==true]">http://<span class="sandbox">{{displaySandbox()}}</span>.mortgageflex.com/<span class="case">{{displayCase()}}</span>/LoanQuestNETDeploy/Mortgageflex.LoanQuest.application</span></a></li>
            <li >Unique Environment Name <span ng-class="{true:'value',false:'invalid'}[(environmentName() && validcase())==true]">{{environmentName()}}<span class="case">{{displayCase()}}</span></span></li>
            <li>From <span ng-class="{true:'value',false:'invalid'}[validcase()==true]">LoanQuestMonitor<span class="case">{{displayCase()}}</span>@mortgageflex.com</span></li>
            <li>to <span ng-class="{true:'value',false:'invalid'}[!!dev]">{{dev}}@mortgageflex.com</span></li>
            <li>Application Server Url: <a href="http://{{displaySandbox()}}.mortgageflex.com/{{displayCase()}}/Mortgageflex.Services.Host.LoanQuest/WcfPortal.svc"><span ng-class="{true:'value',false:'invalid'}[(globals.sandbox && validcase())==true]">http://<span class="sandbox">{{displaySandbox()}}</span>.mortgageflex.com/<span class="case">{{displayCase()}}</span>/Mortgageflex.Services.Host.LoanQuest/WcfPortal.svc</span></a></li>
          </ol>

        </div>
        <div><h2>IIS manager</h2>
          only on the first deploy
          <ol>
            <li>add a new virtual directory for the <span ng-class="{true:'case',false:'invalid'}[validcase()]">{{displayCase()}}</span> directory pointing to <span ng-class="{true:'value',false:'invalid'}[validcase()]">C:\MFWebContent\Cases\<span class="case">{{displayCase()}}</span></span></li>
            <li>convert to applications <span class="value">LoanQuestNETDeploy</span> and <span class="value">Mortgageflex.Services.Host.LoanQuest</span>
          </ol>
          
            Update all services -> Advanced Settings -> Enabled Protocols <span class="value">http,net.tcp</span>
        </div>
        <div><h2>Test install</h2>
          <div>Open the app from <a href="{{caseUrl()}}{{deployUrl()}}"><span ng-class="{true:'value',false:'invalid'}[(globals.sandbox && validcase())==true]">http://<span class="sandbox">{{displaySandbox()}}</span>.mortgageflex.com/<span class="case">{{displayCase()}}</span>{{deployUrl()}}</span></a> and make sure you can login</div>
          Test the case feature(s)
        </div>

        <div><h2>Source Changes</h2>
          <ul>
            <li>comment all changes with <span ng-class="{true:'case',false:'invalid'}[validcase()]"> // {{{true:'',false:'custom '}[!!isStandard]}}case {{displayCase()}}</span></li>
          </ul>
        </div>
        <div><h2>Case management</h2>
          <ol>
            <li>Update the case to ~<span class="value">80</span>%</li>
            <li>Add a comment about the deployment location <a href="{{caseUrl()}}{{deployUrl()}}"><span ng-class="{true:'value',false:'invalid'}[(globals.sandbox && validcase())==true]">http://<span class="sandbox">{{displaySandbox()}}</span>.mortgageflex.com/<span class="case">{{displayCase()}}</span>{{deployUrl()}}</span></a></li>
            <li>Reassign to QA (usually <span class="value">QAB</span>)</li>
            <li>Set the Reassign for to <span class="value">Unit Testing</span></li>
          </ol>
        </div>
      </div>
      <div data-role="sandbox config" ng-show="tab ==4">
        <h2>IIS</h2>
        <ul>  
          <li> App pool must run as NetworkService</li>
          <li>32 bit applications enabled</li>
        </ul>
      </div>
      <div data-role="svc diagnostics" ng-show="tab ==5">
        <div><h2>Service Tests</h2>
          <table>
            <thead>
              <tr>
                <th>Name</th><th>status</th><th>link</th>
              </tr>
            </thead>
            <tbody>
            <tr ng-repeat="svc in services">
              <td>{{svc.name}}<span ng-show="!!svc.notes" title="{{svc.notes}}">*</span></td>
              <td><span ng-bind-html-unsafe="getUrlStatus(svc.url)"></span></td>
              
              <td><a href="http://{{displaySandbox()}}.mortgageflex.com/{{displayCase()}}{{svc.url}}"><span ng-class="{true:'value',false:'invalid'}[(globals.sandbox && validcase())==true]">http://<span class="sandbox">{{displaySandbox()}}</span>.mortgageflex.com/<span class="case">{{displayCase()}}</span>{{svc.url}}</span></a></td>
            </tr>
            <tr ng-repeat="svc in services">
               <td>{{svc.name}}(local)<span ng-show="!!svc.notes" title="{{svc.notes}}">*</span></td>
              <td><span ng-bind-html-unsafe="getUrlStatus(svc.url)"></span></td>
              
              <td><a href="http://localhost{{svc.url}}"><span class="value">http://<span class="sandbox">localhost</span>{{svc.url}}</span></a></td>
            </tr>
          </tbody>
        </table>
        <h2>Config files</h2>
        <table data-role="parsed config viewer">
          <thead>
            <tr>
              <th>name</th><th>default db</th><th>connection strings</th><th>client strings</th><th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="svc in services">
              <td><a href="http://{{globals.nodeHost}}/web.config?host={{globals.sandbox}}&base={{machineBasePath}}{{globals.mfCase}}&path={{svc.dir}}Web.config">{{svc.name}}</a></td>
              <td><button ng-click="getSvcJson('http://'+globals.nodeHost+'/parsed.config?host='+globals.sandbox+'&base='+machineBasePath+globals.mfCase+'&path='+svc.dir+'Web.config',svc);">Refresh</button>
              </td>
              <td>{{svc.getDefaultDatabase(false,true)}}</td>
              <td title="{{svc.getConnectionString()}}">{{svc.getConnectionString(false,'connectionString')}}</td>
              <td><ul><li ng-repeat="slClient in svc.remoteClients"><span ng-show="!slClient.name">{{slClient}}</span><span ng-show="!!slClient.name"><a href="{{slClient.address}}">{{slClient.name}}</a></span></li></ul></td>

            </tr>
             <tr data-role="local service" ng-repeat="svc in services">
              <td><a href="http://{{globals.nodeHost}}/web.config?host=localhost&base={{globals.localPath}}&path={{svc.dir}}Web.config">{{svc.name}}(local)</a></td>
              <td><button ng-click="getSvcJson('http://'+globals.nodeHost+'/parsed.config?host=localhost&base='+globals.localPath+'&path='+svc.dir+'Web.config',svc,true);">Refresh</button></td>
              <td>{{svc.getDefaultDatabase(true,true)}}</td>
              <td title="{{svc.getConnectionString(true)}}">{{svc.getConnectionString(true,'connectionString')}}</td>
              <td><ul><li ng-repeat="slClient in svc.localClients"><span ng-show="!slClient.name">{{slClient}}</span><span ng-show="!!slClient.name"><a href="{{slClient.address}}">{{slClient.name}}</a></span></li></ul>
              </td>
            </tr>
          </tbody>
        </table>

        </div>
      </div>
      <div data-role="deploy diagnostics" ng-show="tab ==6" ng-controller="DeployCtrl">
        \\<span class="sandbox">{{globals.sandbox}}</span>\{{machineBasePath}}<span class="case">{{globals.mfCase}}</span>\LoanQuestNETDeploy\Mortgageflex.LoanQuest.application
        <button ng-click="getManifest(globals.sandbox,globals.machineBasePath,globals.mfCase+'\\LoanQuestNETDeploy\\Mortgageflex.LoanQuest.application')">Refresh</button>
        <ul ng-show="success">
          <li title="name"><span class="value">{{assemblyIdentityName}}</span></li>
          <li title="version">{{version}}</li>
          <li ng-show="codebase"><a href="{{codebase}}">{{codebase}}</a></li>
          <li ng-show="configSuccess">
            Config
            <ul>
              <li ng-show="fromAdd">{{fromAdd}}</li>
              <li ng-show="toAdd">{{toAdd}}</li>
              <li ng-repeat="ep in endpoints">{{ep}}</li>
              <li ng-repeat="ep in endpoints"><span ng-show="!ep.name">{{slClient}}</span><span ng-show="!!ep.name"><a href="{{ep.address}}">{{ep.name}}</a></span> - {{ep.address}}</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <script src="bReusable.js"></script>
    <script src="node/angular_modules/publishCtrl.js"></script>
    <script src="node/angular_modules/deployCtrl.js"></script>
     <script src="jquery.ba-throttle-debounce.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

    <script>
    //https://developers.google.com/speed/libraries/devguide?
var app = angular.module('myApp',[])
    .factory('globals',function(){
      var result={nodeHost:"mf1374-prog1.mortgageflex.com:81",localPath:"C$\\Microsoft .Net 3.5 Framework\\Mortgageflex products\\Common Framework\\Host\\",sandbox:"vBcdApp1",mfCase:'77494',machineBasePath:'c$\\MFWebContent\\Cases\\'};
      window.globals=result;
      return result;
    });
    
    </script>
   
  </body>
</html>